:root{
  --green: #1d4050;
  --greenc: #6497ac;
  --blanco: #d7e5f0;
  }

.EncabezadoAtracciones{
    width: 100%;
    height: 3rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    color: white;
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}
.contenedorAtracciones{
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
    background-color: var(--greenc);
}
.pieAtracciones{
    width: 100%;
    height: 4rem;
    background-color: var(--greenc);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.BtnAggAtracciones{
    margin-right: 20px;
    width: 130px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    border-radius: 10px;
    background-color: var(--green);
    cursor: pointer;
}
/* formulario agregar Atacciones */
.ventanaFormAggAtracciones{
    flex: 1;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(213, 207, 207); 
}
.FormAggAtraccion{
    width: 90%;
    height: 90%;
}
.encabezadoFormAgg{
    width: 100%;
    height: 10%;
    background-color: var(--green);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.datosAtracciones{
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--greenc);
}
.datosAtraccion1{
    width: 50%;
    height: 90%;
    border-right: 1px solid;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.titulosAtracciones{
    width: 100%;
    height: 3.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titulosAtracciones p{
    margin-left: 70px;
    font-size: 15px;
    font-weight: 600;
}
.titulosAtracciones input{
    margin-left: 70px;
    width: 300px;
    height: 2rem;
    border-radius: 5px;
}
.titulosAtracciones select{
    margin-left: 70px;
    width: 300px;
    height: 2rem;
}
.titulosAtra{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titulosAtra p{
    margin-left: 70px;
    font-size: 15px;
    font-weight: 600;
}
.titulosAtra input{
    margin-left: 70px;
    width: 300px;
    height: 5rem;
    border-radius: 5px;
}

.datosAtraccion2{
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.imagenAtraccionFile{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagenAtraccionFile label{
    width: 80%;
    height: 80%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.datosAtraccion2 footer{
    width: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
#imagenAtraccion{
    display: none;
}


.idAtraccion{
    width: 100px;
}
.idAtraccion2{
    height: 125px;
}
.nombreAtraccion{
    width: 250px;
}
.nombreAtraccion2{
    height: 125px;
}
.descripcionAtraccion{
    width: 300px;
}
.descripcionAtraccion2{
    height: 125px;
    font-size: 12px;
    text-align: justify;
}
#contenedorDescrip{
  width: 90%;
  height: 90%;
  
}
.TipoAtraccion{
    width: 200px;
}
.TipoAtraccion2{
    height: 125px;
}
.AccionesAtracciones{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}
.AccionesAtracciones2{
    height: 125px;
}

/* editar atracciones */

.VentanaEditarAtraccion{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .formularioEditarAtracciones{
    width: 90%;
    height: 90%;
  }
  .encabezadoAtracciones{
    width: 100%;
    height: 10%;
    background-color: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  
  }
  .contenedorAtracciones2{
    width: 100%;
    height: 90%;
    background-color: var(--greenc);
    display: flex;
    align-items: center;
  }
  .datos1Atraccion{
    width: 50%;
    height: 90%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid;
  }
  .datos2Atraccion{
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
  }
  .contenedorTITULOSAtracciones{
    width: 100%;
    height: 3rem;
  
  }
  .contenedorTITULOSAtracciones p{
    margin-left: 70px;
    font-size: 15px;
    font-weight: 600;
  }
  .contenedorTITULOSAtracciones input{
    margin-left: 70px;
    width: 280px;
    height: 2rem;
    border-radius: 5px;
  }
  .contenedorTITULOSAtracciones textarea{
    margin-left: 70px;
    width: 300px;
    height: 2rem;
    border-radius: 5px;
  }
  .contenedorTITULOSAtracciones select{
    margin-left: 70px;
    width: 300px;
    height: 2rem;
    border-radius: 5px;
  }
  #DescripcionAtraccion{
    height: 150px;
    max-width: 300px; /* ajusta el valor según tus necesidades */
    width: 100%;
    resize: vertical;
    resize: none;
  }
  .contenedorImgEditarAtraccion{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .accionesEditarAtraccion{
    width: 100%;
    height: 20%;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
  }
  .imgAtraccion{
    width: 90%;
    height: 200px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .AggAtra{
    width: 130px;
    height: 2rem;
    margin-right: 5%;
    background-color: var(--green);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  

  .ventanaEliminarAtraccion{
    width: 400px;
    display: none;
    height: 9rem;
    border-radius: 5px;
    background-color: var(--greenc);
    flex-direction: column;
  }
  .EliminarAtraccionH{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: var(--green);
    color: #fff;
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ventanaEliminarAtraccion section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 70%;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .eliminarAtraccion{
    width: 130px;
    height: 2rem;
    margin-right: 5%;
    background-color: var(--green);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }